html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select,a img{vertical-align:middle;}

/* Global */

body {
    background: #333;
    font-family: Palatino, Georgia;
    padding-top: 29px;
}

a {
    text-decoration: none;
    color: #ccc;
}
    a:hover {
        color: #fff !important;
    }

h1 {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px 0;
    font-weight: normal;
    border-bottom: 1px solid #555;
    z-index: 50;
    background: #333;
}
    h1 a {
        color: #666;
    }

.back,
.forwards {
    position: fixed;
    z-index: 51;
    top: 10px;
    font-size: 16px;
    color: #666;
}
    .back {
        left: 10px;
    }
    .forwards {
        right: 10px;
    }

/* Board UI */

board {
    display: none;
}
    #board_title {
        color: #999;
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 30px;
        width: 100%;
        position: absolute;
        display: none;
    }

tile {
    float: left;
    position: relative;
    background: hsl(0, 100%, 100%);
}
    tile.dark {
        background: hsl(0, 0%, 90%);
    }
    tile[filled='empty'] {
        background: transparent;
    }
    tile[filled='filled']:hover {
        cursor: pointer;
        background: hsl(0, 0%, 75%);
    }
    tile[filled='filled'].selected {
        background: hsl(210, 100%, 75%);
    }
    .turn_white tile[filled='filled'].valid,
    .turn_black .debug tile[filled='filled'].valid {
        background: hsl(210, 100%, 95%);
    }
        .turn_white tile.dark[filled='filled'].valid,
        .turn_black .debug tile.dark[filled='filled'].valid {
            background: hsl(210, 90%, 90%);
        }
        .turn_white tile[filled='filled'].valid:hover {
            background: hsl(80, 70%, 60%);
        }
    .debug tile[filled='filled'].dangerous {
        box-shadow: inset 0 0 0 5px hsl(0, 100%, 95%);
    }
        .debug tile.dark[filled='filled'].dangerous {
            box-shadow: inset 0 0 0 5px hsl(0, 90%, 90%);
        }
    tile[filled='filled'].unblocked {
        background: hsl(50, 100%, 95%);
    }
        tile.dark[filled='filled'].unblocked {
            background: hsl(50, 90%, 90%);
        }
    tile .tile_xy {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        font-family: Helvetica Neue, Arial;
        font-size: 10px;
        padding: 2px 3px 3px;
    }

piece {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-family: 'Helvetica Neue';
    position: relative;
    z-index: 10;
}
    piece[color='white'].locked,
    piece[color='black'].played {
        opacity: .5 !important;
    }
    piece[color='white'][type='king']:before   { content: '\2654'; }
    piece[color='white'][type='queen']:before  { content: '\2655'; }
    piece[color='white'][type='rook']:before   { content: '\2656'; }
    piece[color='white'][type='bishop']:before { content: '\2657'; }
    piece[color='white'][type='knight']:before { content: '\2658'; }
    piece[color='white'][type='pawn']:before   { content: '\2659'; }
    piece[color='black'][type='king']:before   { content: '\265A'; }
    piece[color='black'][type='queen']:before  { content: '\265B'; }
    piece[color='black'][type='rook']:before   { content: '\265C'; }
    piece[color='black'][type='bishop']:before { content: '\265D'; }
    piece[color='black'][type='knight']:before { content: '\265E'; }
    piece[color='black'][type='pawn']:before   { content: '\265F'; }

#game_over_dialog .dialog_inner {
    font-size: 24px;
    margin-top: -60px;
}
    #game_over_win,
    #game_over_lose {
        display: none;
    }

#replay a {
    position: fixed;
    top: 0;
    /*top: 37px;*/
    left: 50%;
    display: none;
    background: hsl(0, 0%, 100%);
    color: #333;
    padding: 10px 0;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    font-size: 18px;
    /*border-radius: 3px 3px 0 0;*/
    border-radius: 0 0 3px 3px;
}
    #replay a:hover {
        color: #333 !important;
        background: hsl(0, 0%, 75%);
    }

/* Management UI */

#page {
    width: 700px;
    margin: 0 auto;
    padding: 50px 0 150px;
    color: #fff;
    font-size: 18px;
}
    #page h2 {
        font-weight: normal;
        font-size: 36px;
        margin-bottom: 50px;
    }
    #page h2 small {
        margin-top: 12px;
        font-size: 24px;
        float: right;
    }
    #page h2 small a {
        color: #aaa;
    }
    #page .back {
        margin-bottom: .5em;
    }
    @media screen and (max-width:800px) {
        #page {
            width: 450px;
        }
    }
    @media screen and (max-width:530px) {
        #page {
            width: auto;
            padding: 30px 10px;
        }
        #page h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        #page h2 small {
            margin-top: 5px;
            font-size: 18px;
        }
    }

#edit {}
    #edit input[name=title],
    #edit textarea[name=template] {
        background: #333;
        border: 1px solid #555;
        display: block;
        width: 480px;
        padding: 5px;
        color: inherit;
        font: inherit;
        margin: 0 0 1em;
        box-sizing: border-box;
        -webkit-appearance: none;
    }
    #edit input[name=title]:focus,
    #edit textarea[name=template]:focus {
        outline: 0;
        border-color: #999;
    }
    #edit input[name=title] {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #edit textarea[name=template] {
        height: 480px;
        font-family: Courier;
        letter-spacing: .5em;
    }
    #edit #buttons {
        padding-right: 220px;
        text-align: right;
    }
    #edit a.submit,
    #edit input[type=submit] {
        background: hsl(0, 0%, 100%);
        color: #333;
        display: inline-block;
        font: inherit;
        border: 0;
        padding: 7px 10px;
        margin: 0;
        -webkit-appearance: none;
        border-radius: 3px;
        vertical-align: baseline;
        margin-left: 20px;
        box-shadow: 0;
    }
        #edit a.submit:hover,
        #edit input[type=submit]:hover {
            color: #333 !important;
            cursor: pointer;
            background: hsl(0, 0%, 75%);
        }
        #edit input.delete[type=submit]:hover {
            background: hsl(0, 100%, 50%);
            color: hsl(0, 0%, 100%) !important;
        }
    #edit #template {
        width: 700px;
    }
        #edit #instructions {
            color: #aaa;
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
            width: 200px;
            float: right;
            margin-bottom: 10px;
        }
        #edit #instructions h3 {
            margin: 0 0 1em;
        }
        #edit #instructions_text {
            margin-bottom: 1em;
        }
        #edit #instructions_key {
            width: 110px;
            float: left;
        }
        #edit #instructions_key dt,
        #edit #instructions_key dd {
            padding: 5px 0;
            float: left;
        }
        #edit #instructions_key dt {
            width: 20px;
            font-family: Courier;
        }
        #edit #instructions_key dd {
            width: 90px;
        }
        #edit #instructions_example {
            width: 70px;
            float: right;
        }
        #edit #instructions_example code {
            font-family: Courier;
        }
    #edit #delete_dialog {}
        #edit #delete_dialog strong {
            font-weight: normal;
            display: block;
            margin-bottom: 40px;
        }
            #edit #delete_dialog strong #delete_dialog_title {
                display: block;
                letter-spacing: 4px;
                margin-top: 10px;
                text-transform: uppercase;
            }
        #edit #delete_dialog a.submit {
            margin-left: 0;
        }
    @media screen and (max-width:800px) {
        #edit input[name=title],
        #edit textarea[name=template] {
            width: 100%;
        }
        #edit #template {
            width: auto;
        }
        #edit #instructions {
            float: none;
            overflow: hidden;
            width: auto;
        }
            #edit #instructions h3 {
                margin-top: 0;
            }
            #edit #instructions_text {
                width: 30%;
                float: left;
                box-sizing: border-box;
                padding-right: 20px;
            }
            #edit #instructions_key {
                width: 50%;
                box-sizing: border-box;
                padding-right: 20px;
            }
                #edit #instructions_key dt,
                #edit #instructions dd {
                    border: 0 !important;
                    box-sizing: border-box;
                }
                #edit #instructions_key dt {
                    width: 10%;
                }
                #edit #instructions_key dd {
                    width: 40%;
                }
            #edit #instructions_example {
                width: 20%;
            }
        #edit #buttons {
            padding-right: 0;
        }
    }

#list {
    width: 750px;
    overflow: hidden;
}
    #list h2 {
        padding-right: 50px;
    }
    #list .board {
        overflow: hidden;
        width: 200px;
        height: 200px;
        display: block;
        float: left;
        margin: 0 50px 50px 0;
        border: 1px solid #555;
        box-sizing: border-box;
        text-align: center;
    }
    #list .board:hover {
        border-color: #999;
    }
    #list .board .title {
        display: block;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
        color: #999;
        border-bottom: 1px solid #555;
        margin: 0 -10px 10px;
        padding: 10px;
        background: #333;
        position: relative;
        z-index: 1;
    }
        #list .board:hover .title {
            color: #fff;
            border-bottom-color: #999;
        }
    #list .board .template_wrapper {
        letter-spacing: .5em;
        display: block;
    }
    #list .board .template {
        white-space: pre;
        font-family: Courier;
        font-size: 14px;
        position: relative;
        left: 4px;
    }
    @media screen and (max-width:800px) {
        #list {
            width: 500px;
        }
    }
    @media screen and (max-width:530px) {
        #list {
            width: auto;
        }
            #list h2 {
                padding-right: 0;
            }
            #list .board {
                width: 100%;
                margin: 0 0 10px;
            }
    }

.dialog {
    background: hsla(0, 0%, 10%, .95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    z-index: 100;
}
    .dialog_inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        margin-left: -50%;
        margin-top: -100px;
        font-size: 18px;
    }

