html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select,a img{vertical-align:middle;}

body {
    background: #333;
    font-family: Georgia;
}

a {
    text-decoration: none;
    color: #ccc;
}
    a:hover {
        color: #fff !important;
    }

h1 {
    text-align: center;
    padding: 10px 0;
    font-weight: normal;
    border-bottom: 1px solid #555;
    position: relative;
}
    h1 .back {
        position: absolute;
        left: 10px;
    }
    h1 .forwards {
        position: absolute;
        right: 10px;
    }
    h1 a {
        color: #666;
    }

board {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}
    board h2 {
        color: #999;
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: -50px;
    }

tile {
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    background: hsl(0, 100%, 100%);
}
    tile:nth-of-type(2n) {
        background: hsl(0, 0%, 90%);
    }
    tile[filled='empty'] {
        background: transparent;
    }
    tile[filled='filled']:hover {
        cursor: pointer;
        background: hsl(0, 0%, 75%);
    }
    tile[filled='filled'].selected {
        background: hsl(210, 100%, 75%);
    }
    .turn_white tile[filled='filled'].valid,
    .turn_black .debug tile[filled='filled'].valid {
        background: hsl(210, 100%, 95%);
    }
        .turn_white tile:nth-of-type(2n)[filled='filled'].valid,
        .turn_black .debug tile:nth-of-type(2n)[filled='filled'].valid {
            background: hsl(210, 90%, 90%);
        }
        .turn_white tile[filled='filled'].valid:hover {
            background: hsl(80, 70%, 60%);
        }
    .debug tile[filled='filled'].dangerous {
        box-shadow: inset 0 0 0 5px hsl(0, 100%, 95%);
    }
        .debug tile:nth-of-type(2n)[filled='filled'].dangerous {
            box-shadow: inset 0 0 0 5px hsl(0, 90%, 90%);
        }
    tile .tile_xy {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        font-family: Helvetica Neue, Arial;
        font-size: 10px;
        /*background: #ccc;*/
        padding: 2px 3px 3px;
    }

piece {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-family: 'Helvetica Neue';
    position: relative;
    z-index: 10;
}
    piece[color='white'].locked,
    piece[color='black'].played {
        opacity: .5 !important;
    }
    piece[color='white'][type='king']:before   { content: '\2654'; }
    piece[color='white'][type='queen']:before  { content: '\2655'; }
    piece[color='white'][type='rook']:before   { content: '\2656'; }
    piece[color='white'][type='bishop']:before { content: '\2657'; }
    piece[color='white'][type='knight']:before { content: '\2658'; }
    piece[color='white'][type='pawn']:before   { content: '\2659'; }
    piece[color='black'][type='king']:before   { content: '\265A'; }
    piece[color='black'][type='queen']:before  { content: '\265B'; }
    piece[color='black'][type='rook']:before   { content: '\265C'; }
    piece[color='black'][type='bishop']:before { content: '\265D'; }
    piece[color='black'][type='knight']:before { content: '\265E'; }
    piece[color='black'][type='pawn']:before   { content: '\265F'; }

#page {
    width: 700px;
    margin: 0 auto;
    padding: 50px 0 150px;
    color: #fff;
    font-size: 18px;
}
    #page h2 {
        font-weight: normal;
        font-size: 36px;
        margin-bottom: 50px;
    }
    #page h2 small {
        margin-top: 12px;
        font-size: 24px;
        float: right;
    }
    #page h2 small a {
        color: #aaa;
    }
    #page .back {
        margin-bottom: .5em;
    }

#new {}
    #new input[name=title],
    #new textarea[name=template] {
        background: #333;
        border: 1px solid #555;
        display: block;
        width: 480px;
        padding: 5px;
        color: inherit;
        font: inherit;
        margin: 0 0 1em;
        box-sizing: border-box;
    }
    #new input[name=title]:focus,
    #new textarea[name=template]:focus {
        outline: 0;
        border-color: #999;
    }
    #new input[name=title] {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    #new textarea[name=template] {
        height: 480px;
        font-family: Courier;
    }
    #new input[type=submit] {
        background: hsl(0, 0%, 100%);
        color: #333;
        display: inline-block;
        font: inherit;
        border: 0;
        padding: 7px 10px;
        border-radius: 3px;
        float: right;
        margin-right: 220px;
    }
        #new input[type=submit]:hover {
            cursor: pointer;
            background: hsl(0, 0%, 75%);
        }
    #new #template {
        width: 700px;
    }
        #new #instructions {
            color: #aaa;
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
            width: 200px;
            float: right;
        }
        #new #instructions h3 {
            margin: 1em 0;
        }
        #new #instructions_key {
            width: 110px;
            float: left;
        }
        #new #instructions table {
            width: 100%;
        }
        #new #instructions td {
            border-bottom: 1px solid #555;
            padding: 5px;
        }
        #new #instructions tr:first-child td {
            border-top: 1px solid #555;
        }
        #new #instructions td:first-child {
            width: 1em;
            font-family: Courier;
        }
        #new #instructions_example {
            width: 70px;
            float: right;
        }
        #new #instructions_example code {
            font-family: Courier;
        }

#list {
    width: 750px;
    overflow: hidden;
}
    #list h2 {
        padding-right: 50px;
    }
    #list .board {
        overflow: hidden;
        width: 200px;
        height: 200px;
        display: block;
        float: left;
        margin: 0 50px 50px 0;
        border: 1px solid #555;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
    }
    #list .board:hover {
        border-color: #999;
    }
    #list .board strong {
        display: block;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
        color: #999;
        border-bottom: 1px solid #555;
        margin: 0 -10px 10px;
        padding-bottom: 10px;
    }
        #list .board:hover strong {
            color: #fff;
            border-bottom-color: #999;
        }
    #list .board span {
        white-space: pre;
        font-family: Courier;
        font-size: 14px;
        position: relative;
    }

